<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Parking.App.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Parking.App.Settings>
            <setting name="Appearance_Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="Appearance_ShowLatestExited" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Appearance_ShowLatestEntry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Appearance_ShowLatestTicket" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Appearance_UpdateListInterval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Appearance_InvoiceShowTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Camera_ExitCameraEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Camera_ExitCameraUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="Camera_ExitCameraUser" serializeAs="String">
                <value />
            </setting>
            <setting name="Camera_ExitCameraPass" serializeAs="String">
                <value />
            </setting>
            <setting name="Camera_MainCameraEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Camera_MainCameraUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="Camera_MainCameraUser" serializeAs="String">
                <value />
            </setting>
            <setting name="Camera_MainCameraPass" serializeAs="String">
                <value />
            </setting>
            <setting name="Camera_ANPR_Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Camera_ANPR_FrameSkip" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Camera_ANPR_VlcCache" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Camera_ANPR_PlateType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Camera_ANPR_LightParameter" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Camera_ANPR_PlateCountInBuffer" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Camera_ANPR_Cnf" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="Camera_ANPR_Economy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="POS_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="POS_Connection_Type" serializeAs="String">
                <value />
            </setting>
            <setting name="POS_IP" serializeAs="String">
                <value />
            </setting>
            <setting name="POS_Port" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Application_GateType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Application_PrintInvoiceAfterEntry" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application_DefaultVehicleSegmentPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Application_MissingCardPrice" serializeAs="String">
                <value>500000</value>
            </setting>
            <setting name="Application_GatePCName" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_DbActiveStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application_DbHostAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_DbUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_DbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_DbName" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_ServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_Logging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application_LoggingFileSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Application_LoggingFileCount" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Application_ApiServerAddress" serializeAs="String">
                <value>https://parking.avaparsi.com/api</value>
            </setting>
            <setting name="Application_Sync_Interval_CountOfTake" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Application_Sync_Interval_Second" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Application_Logging_In_Elastic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application_Logs_Elastic_Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_Logs_Elastic_Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_Logs_Elastic_Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_PlateCheckInExitGate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application_EntryCardRequirement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application_Sync_Enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Application_DeviceId" serializeAs="String">
                <value>ExitGate</value>
            </setting>
            <setting name="Application_EnableSyncImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Application_MainPage_ReloadShortcut" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_DetectLatinPlate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Appearance_ShowBarcodeSearchBox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application_Sync_EnableSyncLicensePlateGroup"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application_Sync_AllDeviceTickets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application_DefaultTicketDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="Application_QueueActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Application_Print_dpi" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="Application_Print_widthMm" serializeAs="String">
                <value>58</value>
            </setting>
            <setting name="Application_ParkingLotReciptDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Application_CloseTicketAfterSuccessPayment" serializeAs="String">
                <value>False</value>
            </setting>
        </Parking.App.Settings>
    </userSettings>
</configuration>